## Pandasdataframe

In [1]:
# in pandas: la serie: est une simple liste :une seule colonne + colonne des  labels
# in pandas : le data frame: une table de ligne + colonne : les deux ont un nom

import pandas as pd
import numpy as np

In [3]:
from  numpy.random import randn

In [4]:
#Pour fixer les valeurs aléatoires générées par la fonction rundom au long du code
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5,4),index = 'A B C D E'.split(), columns = 'W X Y Z'.split() )
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [18]:
df['W']

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [11]:
type(df['W'])

pandas.core.series.Series

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [22]:
df[['W','Z']]

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [23]:
type(df[['W','Z']])

pandas.core.frame.DataFrame

In [26]:
df['New'] = df['W'] + df['Y']
df['New']

A    0.009512
B    0.650049
C   -0.818062
D   -0.421462
E   -0.054206
Name: New, dtype: float64

In [31]:
df.drop(['New'], axis =1, inplace = True)
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [36]:
df.drop(['D'],axis =0, inplace = True)
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845

In [38]:
#get rows
df.loc['A']

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [39]:
df.loc['C']

W   -1.005187
X   -0.741790
Y    0.187125
Z   -0.732845
Name: C, dtype: float64

In [41]:
df.iloc[1]

W    0.681209
X    1.035125
Y   -0.031160
Z    1.939932
Name: B, dtype: float64

# Indexing data frame

In [42]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845

In [45]:
df.loc[['A','B'], ['W','X']]

          W         X
A  0.386030  2.084019
B  0.681209  1.035125