# MultiIndex and Index Hierarchy

In [21]:
import pandas as pd
import numpy as np
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
#hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [8]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [11]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [22]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [19]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns = ['A', 'B'] )

In [23]:
df

             A         B
G1 1  0.230630 -1.818686
   2  0.345506 -0.249743
   3  0.233881 -0.163409
G2 1 -0.967784  1.643459
   2 -1.532069  0.341157
   3  0.011670 -0.324782

In [27]:
df.loc['G1']

          A         B
1  0.230630 -1.818686
2  0.345506 -0.249743
3  0.233881 -0.163409

In [28]:
df.loc['G1'].loc[1]

A    0.230630
B   -1.818686
Name: 1, dtype: float64

In [30]:
df.index.names = ['Groupe','name']

In [32]:
df.loc['G2'].loc[2]

A   -1.532069
B    0.341157
Name: 2, dtype: float64

In [33]:
df.loc['G2'].loc[2].loc['B']

0.34115693373688866

In [36]:
df

                    A         B
Groupe name
G1     1     0.230630 -1.818686
       2     0.345506 -0.249743
       3     0.233881 -0.163409
G2     1    -0.967784  1.643459
       2    -1.532069  0.341157
       3     0.011670 -0.324782

In [39]:
df.xs(['G1'])

             A         B
name
1     0.230630 -1.818686
2     0.345506 -0.249743
3     0.233881 -0.163409

In [42]:
df.xs(['G1',1])

In [53]:

#df.xs(1, level = 'Num')??? ça marche pas

KeyError: 'Level Num must be same as name (Groupe)'